.navi{
    color:aliceblue;
    display:flex;
    margin:5px;
}
.menu{
    position: absolute;
    transition: background-color 200ms linear;
    width: 15%;

    top: 36%;
}
.tile, .tile a {
    position: center;
    background-color: rgb(32, 70, 90);
    transition: background-color 400ms linear, transform 0.3s ease;
    width: 100%;
    color: aliceblue;
    margin-top: 10px;
    padding: 10px;
    margin-left: 15%;
    text-decoration: none;
    display: block;
    text-align: center;
}
.tile:hover, .tile a:hover {
    background-color: rgba(7,81,142,255);
    box-shadow: grey 8px 2px 8px 0;
    transform: scale(1.05);
}
.clickedtile {
    position: center;
    background-color: rgba(5, 124, 189, 0.8);
    transition: background-color 200ms linear, transform 0.3s ease;
    width: 100%;
    color: aliceblue;
    margin-top: 10px;
    padding: 10px;
    margin-left: 15%;
    text-decoration: none;
    display: block;
    text-align: center;
}
.clickedtile:hover, .clickedtile a:hover {
    background-color: rgba(5, 124, 189, 0.6);
    transform: scale(1.05);
}
.tiletext{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titre{
    position: center;
    padding: 4%;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 200%;
}
.petitre{
    font-size: 60%;
    margin: 0px;
}
.entete {
    background-image: 
        linear-gradient(to bottom, transparent, rgb(10, 18, 20) 98%), /* Dégradé semi-transparent */
        url("../images/bacus.jpeg"); 
    background-size: cover; 
    height: 500px;
    background-repeat: no-repeat;
    background-position: center 25%;
    color: white;
    text-align: center;
    margin: 0px;
}
.logot{
    position: absolute;
    top:0px;
    right:190px;
    width: 50px;

}
.logot>img{
    width: 200px;
}
nav ul {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Supprime les marges internes */
  }

  nav li {
    margin-right: 15px; /* Ajoute un espace entre les éléments */
  }
.noto {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
body{
    background-color: rgb(10, 18, 20);
    height: 100vh;
}
.tablo{
    color: white;
    font-family: "Noto Sans", serif;
    content: center;
    margin: 60px auto; /* Center the table horizontally */
    margin-top: 50px; /* Move the table closer to the top */
}
.formula{
    font-family: "Noto Sans",serif;

}
textarea {
    resize: vertical;
}
button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button.styled-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: rgb(32, 70, 90);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button.styled-button:hover {
    background-color: rgba(7,81,142,255);
    transform: scale(1.05);
}

button.styled-button:active {
    background-color: rgba(5, 124, 189, 0.8);
    transform: scale(1);
}

input:focus,
textarea:focus,
select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}
form {
    background-color: #0a2b47;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-top: -150px;
}

label {
    color: white;
    font-family: "Noto Sans", serif;
    font-size: 14px;
    margin: 10px 0;
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #0c2a38;
}
tr:nth-child(even) {
    background-color: #275c8a;
}
#search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    margin-top: -90px;
 /* Adjust margin to place it closer to the top */
}
#mg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    height: 20px;
    z-index: 100;
}
#search {
    position: relative;
    height: 40px;
    background-color: #0000005a;
    color: white;
    padding-left: 40px; /* Adjust padding to make space for the icon */
    font-family: "Noto Sans", serif;
    border-radius: 19px;
    width: 100%;
    box-shadow: 0;
    outline: 0;
    border: 0;
}
.flexOnlyScreen{
    display: flex;
}
@media ((max-width:700px)){
    .displayNoneMobile{    
    display: none;
    }
    .flexOnlyScreen{
        display:block;
    }
    .containerFond{
        background-color:rgb(10, 18, 20);
    }
    .logot{
        right: 15px;
    }
}
@media ((min-width:1200px)){
    .tile{width: 50%;

    }
    .clickedtile{width: 50%;

    }
}
.fgrow {
    flex-grow: 1;
}
.flex {
    display: flex;
}
#nameAsc, #nameDesc, #coresAsc, #coresDesc {
    cursor: pointer; 
}

select {
    background-color: #0a2b47;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    font-family: "Noto Sans", serif;
    font-size: 14px;
    margin: 10px 20px; /* Adjusted side margin */
    width: 200px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

select:focus {
    background-color: #0c3a5a;
    color: #fff;
    outline: none;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.5);
}

.filter-container {
    position: absolute;
    left: 20px;
    top: 400px; /* Adjusted to be below the page selector menu */
    width: 220px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: flex-start; /* Align items at the top */
    flex-wrap: wrap; /* Allow wrapping */
}

.filters {
    padding: 20px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 90%; /* Increase the width of the table container */
    margin: 0 auto; /* Center the table container */
    position: center;
}